streamdeck>=0.9.5
opencv-python-headless
Pillow
psutil
pydub
selenium
#obs-websocket-py
obsws-python
watchdog
pyautogui
cairosvg
pygobject
pynput

elgato

# presentation deps
pyyaml
#pytz
#python-dateutil
python-slugify

pytest
black
reorder-python-imports

